@import "tailwindcss";

.hero-container {
    background-image: url(../public/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 80vh;
    width: 100%;
}
